@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar-track {
  border-radius: 10px;
  /* background-color: red; */
  background-color: #112240;
}
::-webkit-scrollbar {
  width: 4px;
  /* background-color: yellow; */
  background-color: #112240;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #64ffda;
}
/* styles.css */

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* Adjust the blur intensity here */
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency here */
  z-index: 40; /* Ensure it is above other content but below the navbar */
  display: none;
}

.blur-overlay.active {
  display: block;
}

.header-content {
  position: relative;
  z-index: 50;
}
#badge {
  padding-top: 2px;
  padding-bottom: 2px;
  border: 2px solid #8892b0;
}
#skillCard {
  border: 1.5px solid #4c4f59;
}
#skillTitle{
  font-size: 1.875rem /* 30px */ !important;
  line-height: 2rem !important;
}
